/* ------------ Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Oswald:wght@200..700&display=swap');

*{
    font-family: 'Oswald';
}

/* ----------- index -------- */

body{
    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Chelsea Market';
    }

    form{
        gap: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        background-color: #F9FAFB;
        border: 5px solid #E5E7EB;
        border-radius: 10%;
        padding: 15px;

        button{
            background-color: #7C3AED;
            border: none;
            border-radius: 10px;
            width: 100px;
            padding: 10px;
            font-size: 15px;
        }
    }
}

/* ---------- bienvenue --------- */

body{
    display: flex;
    flex-direction: column;

    .bvn{
        margin: auto;
        margin-top: 30px;
        font-size: 30px;
        color: red;
        font-weight: 600;
    }

    a{
        margin: auto;
        margin-top: 60px;
        background-color: #7C3AED;
        padding: 15px;
        border-radius: 15px;
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}

/* ----------- Deconnexion -------*/

body{
    .deco{
        margin: auto;
        margin-top: 30px;
        font-size: 50px;
        color: black;
        background-color: #7C3AED;
        padding: 15px;
        border-radius: 20px;
    }
}